<div class="tag-elem" onclick="showAddTagModal()">
    <center><p>Add Tag</p></center>
</div>
{{#each tagNames}}
    <div class="tag-elem">
        <center><p>{{this}}</p></center>
    </div>
{{/each}}