<table>
    <thead>
        <tr>
            <th>Link</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        {{#each items}}
			<tr>
				<td>{{field1}}</td>
				<td>{{field2}}</td>
			</tr>
		{{/each}}
    </tbody>
</table>
