{{#each folderNames}}
                <div class="folder">
                    <img src="./img/folder.png">
                    <center><p>{{this}}</p></center>
                </div>
            {{/each}}
            <div class="folder" onclick="showAddFolderModal()">
                <img src="./img/folder.png">
                <center><p>Add New</p></center>
            </div>